.navbar {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-around;
  padding: 0.5%;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: white;
  z-index: 4;
}


.navbarRight {
  align-items: center;
  justify-content: flex-end;
  gap: 3%;
  /* border: 1px solid red; */
  width: 30%;
}

.navbarText {
  transition: 0.2s ease-in-out;
  padding: 1.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 20px;
}

.navbarText:hover {
  background-color: #F7F7F7;
  transition: 0.2s ease-in-out;
}

.navbarLeft {
  /* border: 1px solid red; */
  width: 30%;
}

.dropDown {
  position: absolute;
  background-color: white;
  /* padding-left: 10%; */
  top: 50px;
  right: 0px;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 0px 3px 25px 0px lightgray;
  width: 15em;

}

.signUp {
  font-weight: 600;

}

.dropDown p {
  padding-left: 5%;
  font-size: 15px;
  padding-bottom: 3.5%;
  margin: 0;
  margin-bottom: 1%;
  margin-top: 2%;
  padding-top: 3.5%;
  color: #717171;
}

.dropDown p:hover {
  background-color: #e6e6e6;
}

.dropDown_top {
  border-bottom: 1px solid rgb(197, 197, 197);
}

.navbarProfile {
  padding: 1%;
  padding-left: 2.7%;
  padding-right: 2.7%;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  border: 1px solid rgb(223, 223, 223);
  gap: 20%;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.navbarProfile:hover {
  box-shadow: 0px 3px 5px 1px rgb(224, 224, 224);
  transition: 0.1s ease-in-out;

}

.main_page {
  /* border: 1px solid red; */
  justify-content: center;
  gap: 5%;
  margin-top: 3%;

}

.main_page_left {
  width: 20%;
  border-radius: 10px;
  border: 1px solid rgb(223, 223, 223);
  justify-content: center;
  align-items: center;
  padding: 1.5%;
  padding-bottom: 2%;
  height: 0%;
}

.superhost {
  position: relative;
  top: 0px;
  left: 0px;
}

.superhostTooltip {
  /* border: 1px solid red; */
  position: relative;
  /* display: none; */
  top: 0px;
  right: 0px;
  padding: 5%;
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 16px 0px rgb(207, 207, 207);
  outline: #222222;
}

.superhostTooltip::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -9%;
  /* box-shadow: 0px 1px 10px 0px black; */
  outline: #222222 ;
  left: 20%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;

}

.checkmarks{
  text-decoration: none !important;
  cursor: pointer !important;
}

.superhostTooltip p {
  /* padding-top: 0; */
  margin-top: 0;
  margin-bottom: 0.5%;
  font-size: 15px;
  text-decoration: none !important;
  cursor: text !important;

}


.readMoreBtn{
  background-color: transparent;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.main_page_right {
  /* border: 1px solid orange; */
  width: 40%;
}

.profile_image {
  position: relative;
  top: 0px;
  /* left: 0px; */
  right: 0px;
  z-index: 1;
}

.first_profile_list{
  /* border: 1px solid red; */
  padding-bottom: 5%;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.profile_image::after {
  /* content: ""; */
  content: url('../public/profileBadge.png');
  /* z-index: 2; */
  position: absolute;

  right: 0px;

  /* left: 20px; */
  bottom: 0px;

}

.profile_lists {
  text-align: start;

  width: 100%;
  margin-top: 5%;
  /* border: 1px solid red; */
}

.profile_lists p {
  display: flex;
  gap: 3%;
  font-weight: 600;

}

.tooltipText {
  font-weight: 400 !important;
  padding-top: 0;
  margin-top: 0;
  text-decoration: none !important;
  cursor: text !important;
}



.profile_lists p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.greeting {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  /* border: 1px solid red; */
}

.joinedIn {
  margin-top: 0;
  font-size: 15px;
  color: rgb(170, 170, 170);
  /* border: 1px solid red; */
}

.translateText {
  /* display: flex; */
  gap: 1%;
  font-size: 15px;
  margin-top: 7%;
  margin-bottom: 5%;
}

.translateText a {
  text-decoration: underline;
  font-weight: 600;
}

.aboutInfo {
  align-items: center;
}

.listings_wrapper {
  margin-top: 7%;
}


.embla {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-bottom: 2%;
  margin-bottom: 5%;
  /* border: 1px solid red; */
  /* padding-left: 0; */
  /* margin-left: 0; */

  /* margin: 0; */
  /* padding: 0; */


}

.embla__container {
  display: flex;
  gap: 3%;
  /* border: 1px solid blue; */
  /* margin-left: 0; */
  /* padding-left: 0; */
}

.embla__slide {
  position: relative;
  top: 0px;
  left: 0px;
  /* border: 1px solid red; */
  /* flex: 0 0 -50%; */
  /* margin-left: 0; */
  /* padding-left: 0; */
}


.embla__slide::before {
  content: "SUPERHOST";
  position: absolute;
  font-weight: 700;
  background-color: #FFF9F2;
  box-shadow: 1px 1px 5px 0px rgb(100, 100, 100);
  top: 7px;
  left: 7px;
  font-size: 12px;
  padding: 1.2%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 4px;
}

.embla__slide p {
  padding-top: 0;
  margin-top: 0;
  /* border: 1px solid red; */
  width: 75%;
}


.roomReviews {
  align-items: center;
}

.roomImage {
  border-radius: 10px;
}

.prevButton {
  position: absolute;
  top: 35%;
  left: 0px;
  /* z-index: 2; */
  border-radius: 30px;
  padding: 1%;
  border: 0;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nextButton {
  position: absolute;
  top: 35%;
  border-radius: 30px;
  padding: 1%;
  border: 0;
  right: 0;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.guidebook_wrapper {
  padding-bottom: 5%;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 5%;
}

.guidebook {
  margin-top: 4%;
  background-color: #717171;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30%;
  padding: 2%;
  color: white;
  border-radius: 8px;
  gap: 0;
  height: 16em;
}


.guidebook p {
  font-size: 14px;
  gap: 5%;
  padding: 0;
  margin: 0;
  margin-top: 7%;

}

.guidebook h4 {
  width: 70%;
  font-weight: 600;
  margin: 0;
}

.mainRight_totalReviews {
  display: flex;
  align-items: center;
  gap: 1%;
  font-size: 20px;
}

.reviews_filter_bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  font-size: 14px;
  font-weight: 600;
  color: rgb(136, 136, 136);
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 2%;
  height: 50px;
}

.reviews_filter_bar p {
  /* border: 1px solid red; */
  height: 100%;
  line-height: 45px;
  /* font-weight: 700; */
  transition: 0.1s ease-in-out;
  cursor: pointer;

}

/* .reviews_filter_bar p:hover{
  background-color: lightgra;

} */

.reviews_filter_clicked {
  border-bottom: 2px solid black;
  color: black;
  transition: 0.1s ease-in-out;
  animation-name: scaleOnClick;
  animation-duration: 0.1s;
}

@keyframes scaleOnClick {

  50% {
    scale: 0.95;
  }

  100% {
    scale: 1;
  }

}

.reviewTitle {
  margin-top: 3%;
  align-items: center;
  justify-content: space-between;
}

.reviewTitle p,
.reviewTitle h4 {
  padding: 0;
  margin: 0;

}

.reviewTitle h4 {
  font-weight: 600;
  font-size: 17px;
}

.reviewImage {
  border-radius: 5px;
}

.reviewAuthor {
  align-items: center;
  gap: 2%;

}

.reviewAuthor p,
.reviewAuthor h4 {
  padding: 0;
  margin: 0;
}

.reviewAuthor p {
  margin-top: 1%;
  font-size: 14px;
  color: rgb(131, 131, 131);
}

.review_wrapper {
  margin-bottom: 3%;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
  margin-bottom: 5%;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.footer {
  background-color: #F7F7F7;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* .reviewMessage{
  position: relative;
  top: 0;
  left: 0; */
/* } */
/* .reviewMessage {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  position: relative;
  top: 0px;
  left: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.reviewMessage::after{
  content: "read more";
  position: absolute;
  background-color: white;
  top: 50%;
  right: 2%;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
} */

.hostsReviews{
  /* border:1px solid red ; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  /* margin-bottom: 2%; */
}
.hostsReviews p{
  margin-bottom: 7%;
}

.translatedFrom{
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  gap: 5%;
  white-space: nowrap;
}

.moreReviewsButton{
  border: 1px solid #474747;
  padding: 2%;
  background-color: white;
  margin-top: 3%;
  border-radius: 8px;
  width: 30%;
  font-weight: 600;
  color: #2c2c2c;
  font-size: 15px;
  cursor: pointer;
}

.moreReviewsButton:hover{
  background-color: #e7e7e7;
}


.footerNavbar {
  justify-content: space-between;
  padding-top: 1%;
  /* border: 1px solid red; */
  width: 80%;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 1%;
  /* padding: 0; */
  gap: 4%;
}

.footerNavbar div {
  width: 50%;
  margin: 0;
  /* border: 1px solid red; */
}

.footerNavbar ul {
  list-style: none;
  padding-left: 0;
  line-height: 35px;
  font-size: 15px;
  margin-top: 0;
  /* margin: 0; */
  cursor: pointer;
  padding-top: 0;
  /* border: 1px solid red; */
}


.footerNavbar ul li:hover {
  text-decoration: underline;
}

.footerNavbar h5 {
  /* border: 1px solid red; */
  font-size: 15px;
  color: #222222;
  margin-bottom: 3%;
  padding-bottom: 0;
}

.footer_media_links {
  display: flex;
  width: 80%;
  font-size: 15px;
  margin-bottom: 0.5%;

}

.footer_media_left {
  /* border: 1px solid red; */
  width: 50%;
  align-items: center;
  cursor: pointer;
  gap: 1%;
}

.footer_media_left p:hover {
  text-decoration: underline;
}

.footer_media_right {
  /* border: 1px solid red; */
  width: 50%;
  gap: 3%;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.footer_media_right p:hover {

  text-decoration: underline;
}

.footer_media_right p {
  font-weight: 600;
}


.reportText {
  font-weight: 600;
  margin-bottom: 5%;
  text-decoration: underline;
  cursor: pointer;
}